<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.przemek.beeryouwantv2">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".TimeOfAppRunningService"
            android:label="PM_BeerYouWant_Service" />
        <service
            android:name=".TimeOfAlcohol"
            android:label="PM_BeerYouWant_TimeOfAlcohol"
            android:process=":stocks_background" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChosenStylesActivity" />
        <activity android:name=".WorksListProvinceActivity" />
        <activity android:name=".WorksListActivity" />
        <activity
            android:name=".WorksListDetailActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ChosenStylesDetailActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>